### 1. Import the libraries
As the first step, we need to import the required libraries.

In [81]:
import pandas as pd
import numpy as np

### 2. Load the dataset

In [82]:
!git clone https://github.com/jnamor/text-classification

fatal: destination path 'text-classification' already exists and is not an empty directory.

In [83]:
df = pd.read_csv('text-classification/data/text-classification.csv')
df.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [84]:
df.shape

(2225, 2)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  2225 non-null   object
 1   text      2225 non-null   object
dtypes: object(2)
memory usage: 34.9+ KB

### 3. Exploratory Data Analysis

In [86]:
from collections import Counter

def countWord(list_of_words):            
    count = Counter()
    for sentence in list_of_words:
        for word in sentence.split():
            count[word] += 1
    
    return count

In [87]:
countWord(df['category'])

Counter({'tech': 401,
         'business': 510,
         'sport': 511,
         'entertainment': 386,
         'politics': 417})

In [88]:
counter = countWord(df['text'])
counter.most_common(5)

[('the', 52567), ('to', 24955), ('of', 19947), ('and', 18561), ('a', 18251)]

In [89]:
total_words = len(counter)
total_words

43771

### 4. Pre-processing the data
The actual data must meet certain conditions before being sent to the model. We will create a `pipeline`: a multi-level system where each level receives its data from the previous level and sends its results to the next level.

#### 4.1 Tranforming the data

We transform the `textual categories` into `index values`.

In [90]:
def category_transforming(df):
    category_mapper = dict(zip(np.unique(df["category"]), list(range(df['category'].nunique()))))
    category_inv_mapper = dict(zip(list(range(df['category'].nunique())), np.unique(df["category"])))
    
    return category_mapper, category_inv_mapper

In [91]:
category_mapper, category_inv_mapper = category_transforming(df)

In [92]:
category_ind = [category_mapper[i] for i in df['category']]
df['category_ind'] = category_ind
df.head()

,category,text,category_ind
0,tech,tv future in the hands of viewers with home th...,4
1,business,worldcom boss left books alone former worldc...,0
2,sport,tigers wary of farrell gamble leicester say ...,3
3,sport,yeading face newcastle in fa cup premiership s...,3
4,entertainment,ocean s twelve raids box office ocean s twelve...,1

We can use another alternative with `scikit-learn` :

In [93]:
from sklearn.preprocessing import LabelEncoder

def category_transforming(list_of_categories):
    label_encoder = LabelEncoder()
    label_encoder.fit(df['category'])
    predicted_label = label_encoder.transform(list_of_categories)
    
    return predicted_label

In [94]:
category_ind = category_transforming(df['category'])
df['category_ind'] = category_ind
df.head()

,category,text,category_ind
0,tech,tv future in the hands of viewers with home th...,4
1,business,worldcom boss left books alone former worldc...,0
2,sport,tigers wary of farrell gamble leicester say ...,3
3,sport,yeading face newcastle in fa cup premiership s...,3
4,entertainment,ocean s twelve raids box office ocean s twelve...,1

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   category      2225 non-null   object
 1   text          2225 non-null   object
 2   category_ind  2225 non-null   int64
dtypes: int64(1), object(2)
memory usage: 52.3+ KB

In [96]:
X = df['text']
Y = (df['category_ind']
     .to_numpy()
     .reshape(df['category_ind'].shape[0], 1))

### 5.  NLP Pipeline - Dataset preparation

In [97]:
import nltk

#### Step 1 -  Remove URL's

In [98]:
import re

def remove_links(text):
    url = re.compile(r"https?://\S+|www\.\S+")
    return url.sub("", text)

In [99]:
X = X.map(remove_links)
X.head()

0    tv future in the hands of viewers with home th...
1    worldcom boss  left books alone  former worldc...
2    tigers wary of farrell  gamble  leicester say ...
3    yeading face newcastle in fa cup premiership s...
4    ocean s twelve raids box office ocean s twelve...
Name: text, dtype: object

#### Step 2 -  Remove Punctuations

In [100]:
import string

def remove_punctuations(text):
    characters_to_remove = string.punctuation
    translator = str.maketrans("", "", characters_to_remove)
    clean_text = (text
                  .lower()
                  .translate(translator)
                 )
    
    return clean_text

In [101]:
X = X.map(remove_punctuations)
X.head()

0    tv future in the hands of viewers with home th...
1    worldcom boss  left books alone  former worldc...
2    tigers wary of farrell  gamble  leicester say ...
3    yeading face newcastle in fa cup premiership s...
4    ocean s twelve raids box office ocean s twelve...
Name: text, dtype: object

#### Step 3 - Stop words

In [102]:
nltk.download('stopwords')
from nltk.corpus import stopwords

def remove_stop_words(text):
    stop = stopwords.words("english")
    filtered_words = [word for word in text.split() if word not in stop]
    
    return " ".join(filtered_words)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [103]:
X = X.map(remove_stop_words)
X.head()

0    tv future hands viewers home theatre systems p...
1    worldcom boss left books alone former worldcom...
2    tigers wary farrell gamble leicester say rushe...
3    yeading face newcastle fa cup premiership side...
4    ocean twelve raids box office ocean twelve cri...
Name: text, dtype: object

#### Step 4 - Tokenization then Stemming or Lemmatization ?

`Tokenization` splits a string into smaller entities such as words or single characters. Therefore, these are also referred to as tokens. <a href="https://en.wikipedia.org/wiki/Lexical_analysis#Tokenization">Wikipedia</a> provides a nice example.

`Stemming` and `Lemmatization` are methods used by search engines and chatbots to analyze the meaning behind a word. `Stemming` uses the stem of the word, while `Lemmatization` uses the context in which the word is being used.

<!-- ![image.png](attachment:image.png) -->

In this example, we will use `Stemming` for optimization and performance purposes.

In [104]:
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [105]:
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer

def get_tokenized_text(input_sentence):
    return nltk.word_tokenize(input_sentence)

def get_stemmed_text(word):
    stemmer = PorterStemmer()
    return stemmer.stem(word)

def get_lemmatized_text(word):
  lemmatizer = WordNetLemmatizer()
  return lemmatizer.lemmatize(word)

def convert_text_to_array(text_tokenized):
    text_tokenized = [get_tokenized_text(sentence) for sentence in text_tokenized]
    for sentence in text_tokenized:
        for index, word in enumerate(sentence):
            # sentence[index] = get_stemmed_text(word) # Steming
            sentence[index] = get_lemmatized_text(word) # Lemmatization
    
    return np.array(text_tokenized)

In [106]:
X = convert_text_to_array(X)
X[:5]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

array([list(['tv', 'future', 'hand', 'viewer', 'home', 'theatre', 'system', 'plasma', 'highdefinition', 'tv', 'digital', 'video', 'recorder', 'moving', 'living', 'room', 'way', 'people', 'watch', 'tv', 'radically', 'different', 'five', 'year', 'time', 'according', 'expert', 'panel', 'gathered', 'annual', 'consumer', 'electronics', 'show', 'la', 'vega', 'discus', 'new', 'technology', 'impact', 'one', 'favourite', 'pastime', 'u', 'leading', 'trend', 'programme', 'content', 'delivered', 'viewer', 'via', 'home', 'network', 'cable', 'satellite', 'telecom', 'company', 'broadband', 'service', 'provider', 'front', 'room', 'portable', 'device', 'one', 'talkedabout', 'technology', 'ce', 'digital', 'personal', 'video', 'recorder', 'dvr', 'pvr', 'settop', 'box', 'like', 'u', 'tivo', 'uk', 'sky', 'system', 'allow', 'people', 'record', 'store', 'play', 'pause', 'forward', 'wind', 'tv', 'programme', 'want', 'essentially', 'technology', 'allows', 'much', 'personalised', 'tv', 'also', 'builtin', 'highdefinition', 'tv', 'set', 'big', 'business', 'japan', 'u', 'slower', 'take', 'europe', 'lack', 'highdefinition', 'programming', 'people', 'forward', 'wind', 'advert', 'also', 'forget', 'abiding', 'network', 'channel', 'schedule', 'putting', 'together', 'alacarte', 'entertainment', 'u', 'network', 'cable', 'satellite', 'company', 'worried', 'mean', 'term', 'advertising', 'revenue', 'well', 'brand', 'identity', 'viewer', 'loyalty', 'channel', 'although', 'u', 'lead', 'technology', 'moment', 'also', 'concern', 'raised', 'europe', 'particularly', 'growing', 'uptake', 'service', 'like', 'sky', 'happens', 'today', 'see', 'nine', 'month', 'year', 'time', 'uk', 'adam', 'hume', 'bbc', 'broadcast', 'futurologist', 'told', 'bbc', 'news', 'website', 'like', 'bbc', 'issue', 'lost', 'advertising', 'revenue', 'yet', 'pressing', 'issue', 'moment', 'commercial', 'uk', 'broadcaster', 'brand', 'loyalty', 'important', 'everyone', 'talking', 'content', 'brand', 'rather', 'network', 'brand', 'said', 'tim', 'hanlon', 'brand', 'communication', 'firm', 'starcom', 'mediavest', 'reality', 'broadband', 'connection', 'anybody', 'producer', 'content', 'added', 'challenge', 'hard', 'promote', 'programme', 'much', 'choice', 'mean', 'said', 'stacey', 'jolna', 'senior', 'vice', 'president', 'tv', 'guide', 'tv', 'group', 'way', 'people', 'find', 'content', 'want', 'watch', 'simplified', 'tv', 'viewer', 'mean', 'network', 'u', 'term', 'channel', 'could', 'take', 'leaf', 'google', 'book', 'search', 'engine', 'future', 'instead', 'scheduler', 'help', 'people', 'find', 'want', 'watch', 'kind', 'channel', 'model', 'might', 'work', 'younger', 'ipod', 'generation', 'used', 'taking', 'control', 'gadget', 'play', 'might', 'suit', 'everyone', 'panel', 'recognised', 'older', 'generation', 'comfortable', 'familiar', 'schedule', 'channel', 'brand', 'know', 'getting', 'perhaps', 'want', 'much', 'choice', 'put', 'hand', 'mr', 'hanlon', 'suggested', 'end', 'kid', 'diaper', 'pushing', 'button', 'already', 'everything', 'possible', 'available', 'said', 'mr', 'hanlon', 'ultimately', 'consumer', 'tell', 'market', 'want', '50', '000', 'new', 'gadget', 'technology', 'showcased', 'ce', 'many', 'enhancing', 'tvwatching', 'experience', 'highdefinition', 'tv', 'set', 'everywhere', 'many', 'new', 'model', 'lcd', 'liquid', 'crystal', 'display', 'tv', 'launched', 'dvr', 'capability', 'built', 'instead', 'external', 'box', 'one', 'example', 'launched', 'show', 'humax', '26inch', 'lcd', 'tv', '80hour', 'tivo', 'dvr', 'dvd', 'recorder', 'one', 'u', 'biggest', 'satellite', 'tv', 'company', 'directtv', 'even', 'launched', 'branded', 'dvr', 'show', '100hours', 'recording', 'capability', 'instant', 'replay', 'search', 'function', 'set', 'pause', 'rewind', 'tv', '90', 'hour', 'microsoft', 'chief', 'bill', 'gate', 'announced', 'preshow', 'keynote', 'speech', 'partnership', 'tivo', 'called', 'tivotogo', 'mean', 'people', 'play', 'recorded', 'programme', 'window', 'pc', 'mobile', 'device', 'reflect', 'increasing', 'trend', 'freeing', 'multimedia', 'people', 'watch', 'want', 'want']),
       list(['worldcom', 'bos', 'left', 'book', 'alone', 'former', 'worldcom', 'bos', 'bernie', 'ebbers', 'accused', 'overseeing', '11bn', '£58bn', 'fraud', 'never', 'made', 'accounting', 'decision', 'witness', 'told', 'juror', 'david', 'myers', 'made', 'comment', 'questioning', 'defence', 'lawyer', 'arguing', 'mr', 'ebbers', 'responsible', 'worldcom', 'problem', 'phone', 'company', 'collapsed', '2002', 'prosecutor', 'claim', 'loss', 'hidden', 'protect', 'firm', 'share', 'mr', 'myers', 'already', 'pleaded', 'guilty', 'fraud', 'assisting', 'prosecutor', 'monday', 'defence', 'lawyer', 'reid', 'weingarten', 'tried', 'distance', 'client', 'allegation', 'cross', 'examination', 'asked', 'mr', 'myers', 'ever', 'knew', 'mr', 'ebbers', 'make', 'accounting', 'decision', 'aware', 'mr', 'myers', 'replied', 'ever', 'know', 'mr', 'ebbers', 'make', 'accounting', 'entry', 'worldcom', 'book', 'mr', 'weingarten', 'pressed', 'replied', 'witness', 'mr', 'myers', 'admitted', 'ordered', 'false', 'accounting', 'entry', 'request', 'former', 'worldcom', 'chief', 'financial', 'officer', 'scott', 'sullivan', 'defence', 'lawyer', 'trying', 'paint', 'mr', 'sullivan', 'admitted', 'fraud', 'testify', 'later', 'trial', 'mastermind', 'behind', 'worldcom', 'accounting', 'house', 'card', 'mr', 'ebbers', 'team', 'meanwhile', 'looking', 'portray', 'affable', 'bos', 'admission', 'pe', 'graduate', 'economist', 'whatever', 'ability', 'mr', 'ebbers', 'transformed', 'worldcom', 'relative', 'unknown', '160bn', 'telecom', 'giant', 'investor', 'darling', 'late', '1990s', 'worldcom', 'problem', 'mounted', 'however', 'competition', 'increased', 'telecom', 'boom', 'petered', 'firm', 'finally', 'collapsed', 'shareholder', 'lost', '180bn', '20', '000', 'worker', 'lost', 'job', 'mr', 'ebbers', 'trial', 'expected', 'last', 'two', 'month', 'found', 'guilty', 'former', 'ceo', 'face', 'substantial', 'jail', 'sentence', 'firmly', 'declared', 'innocence']),
       list(['tiger', 'wary', 'farrell', 'gamble', 'leicester', 'say', 'rushed', 'making', 'bid', 'andy', 'farrell', 'great', 'britain', 'rugby', 'league', 'captain', 'decide', 'switch', 'code', 'anybody', 'else', 'involved', 'process', 'still', 'way', 'away', 'going', 'next', 'stage', 'tiger', 'bos', 'john', 'well', 'told', 'bbc', 'radio', 'leicester', 'moment', 'still', 'lot', 'unknown', 'andy', 'farrell', 'least', 'medical', 'situation', 'whoever', 'take', 'going', 'take', 'big', 'big', 'gamble', 'farrell', 'persistent', 'knee', 'problem', 'operation', 'knee', 'five', 'week', 'ago', 'expected', 'another', 'three', 'month', 'leicester', 'saracen', 'believed', 'head', 'list', 'rugby', 'union', 'club', 'interested', 'signing', 'farrell', 'decides', 'move', '15man', 'game', 'move', 'across', 'union', 'well', 'belief', 'would', 'better', 'playing', 'back', 'least', 'initially', 'sure', 'could', 'make', 'step', 'league', 'union', 'involved', 'centre', 'said', 'well', 'think', 'england', 'would', 'prefer', 'progress', 'position', 'back', 'row', 'make', 'use', 'rugby', 'league', 'skill', 'within', 'forward', 'jury', 'whether', 'cross', 'divide', 'club', 'balance', 'struck', 'cost', 'gamble', 'option', 'bringing', 'readymade', 'replacement']),
       list(['yeading', 'face', 'newcastle', 'fa', 'cup', 'premiership', 'side', 'newcastle', 'united', 'face', 'trip', 'ryman', 'premier', 'league', 'leader', 'yeading', 'fa', 'cup', 'third', 'round', 'game', 'arguably', 'highlight', 'draw', 'potential', 'moneyspinner', 'nonleague', 'yeading', 'beat', 'slough', 'second', 'round', 'conference', 'side', 'exeter', 'city', 'knocked', 'doncaster', 'saturday', 'travel', 'old', 'trafford', 'meet', 'holder', 'manchester', 'united', 'january', 'arsenal', 'drawn', 'home', 'stoke', 'chelsea', 'play', 'host', 'scunthorpe', 'nonleague', 'side', 'draw', 'hinckley', 'united', 'held', 'brentford', 'goalless', 'draw', 'sunday', 'meet', 'league', 'one', 'leader', 'luton', 'win', 'replay', 'martin', 'allen', 'team', 'griffin', 'park', 'number', 'premiership', 'team', 'face', 'difficult', 'away', 'game', 'championship', 'side', 'weekend', '89', 'january', 'thirdplaced', 'everton', 'visit', 'plymouth', 'liverpool', 'travel', 'burnley', 'crystal', 'palace', 'go', 'sunderland', 'fulham', 'face', 'carling', 'cup', 'semifinalist', 'watford', 'bolton', 'meet', 'ipswich', 'aston', 'villa', 'drawn', 'sheffield', 'united', 'premiership', 'struggler', 'norwich', 'blackburn', 'west', 'brom', 'away', 'west', 'ham', 'cardiff', 'preston', 'north', 'end', 'respectively', 'southampton', 'visit', 'northampton', 'already', 'beaten', 'league', 'two', 'side', 'carling', 'cup', 'earlier', 'season', 'middlesbrough', 'drawn', 'away', 'either', 'swindon', 'notts', 'county', 'spur', 'entertain', 'brighton', 'white', 'hart', 'lane', 'arsenal', 'v', 'stoke', 'swindonnotts', 'co', 'v', 'middlesbrough', 'man', 'utd', 'v', 'exeter', 'plymouth', 'v', 'everton', 'leicester', 'v', 'blackpool', 'derby', 'v', 'wigan', 'sunderland', 'v', 'crystal', 'palace', 'wolf', 'v', 'millwall', 'yeading', 'v', 'newcastle', 'hull', 'v', 'colchester', 'tottenham', 'v', 'brighton', 'reading', 'v', 'stockportswansea', 'birmingham', 'v', 'leeds', 'hartlepool', 'v', 'boston', 'milton', 'keynes', 'don', 'v', 'peterborough', 'oldham', 'v', 'man', 'city', 'chelsea', 'v', 'scunthorpe', 'cardiff', 'v', 'blackburn', 'charlton', 'v', 'rochdale', 'west', 'ham', 'v', 'norwich', 'sheff', 'utd', 'v', 'aston', 'villa', 'preston', 'v', 'west', 'brom', 'rotherham', 'v', 'yeovil', 'burnley', 'v', 'liverpool', 'bournemouth', 'v', 'chester', 'coventry', 'v', 'crewe', 'watford', 'v', 'fulham', 'ipswich', 'v', 'bolton', 'portsmouth', 'v', 'gillingham', 'northampton', 'v', 'southampton', 'qpr', 'v', 'nottm', 'forest', 'luton', 'v', 'hinckleybrentford', 'match', 'played', 'weekend', '89', 'january']),
       list(['ocean', 'twelve', 'raid', 'box', 'office', 'ocean', 'twelve', 'crime', 'caper', 'sequel', 'starring', 'george', 'clooney', 'brad', 'pitt', 'julia', 'robert', 'gone', 'straight', 'number', 'one', 'u', 'box', 'office', 'chart', 'took', '408m', '£21m', 'weekend', 'ticket', 'sale', 'according', 'studio', 'estimate', 'sequel', 'follows', 'master', 'criminal', 'try', 'pull', 'three', 'major', 'heist', 'across', 'europe', 'knocked', 'last', 'week', 'number', 'one', 'national', 'treasure', 'third', 'place', 'wesley', 'snipe', 'blade', 'trinity', 'second', 'taking', '161m', '£84m', 'rounding', 'top', 'five', 'animated', 'fable', 'polar', 'express', 'starring', 'tom', 'hank', 'festive', 'comedy', 'christmas', 'kranks', 'ocean', 'twelve', 'box', 'office', 'triumph', 'mark', 'fourthbiggest', 'opening', 'december', 'release', 'u', 'three', 'film', 'lord', 'ring', 'trilogy', 'sequel', 'narrowly', 'beat', '2001', 'predecessor', 'ocean', 'eleven', 'took', '381m', '£198m', 'opening', 'weekend', '184m', '£958m', 'total', 'remake', '1960s', 'film', 'starring', 'frank', 'sinatra', 'rat', 'pack', 'ocean', 'eleven', 'directed', 'oscarwinning', 'director', 'steven', 'soderbergh', 'soderbergh', 'return', 'direct', 'hit', 'sequel', 'reunites', 'clooney', 'pitt', 'robert', 'matt', 'damon', 'andy', 'garcia', 'elliott', 'gould', 'catherine', 'zetajones', 'join', 'allstar', 'cast', 'fun', 'good', 'holiday', 'movie', 'said', 'dan', 'fellman', 'president', 'distribution', 'warner', 'bros', 'however', 'u', 'critic', 'le', 'complimentary', '110m', '£572m', 'project', 'los', 'angeles', 'time', 'labelling', 'dispiriting', 'vanity', 'project', 'milder', 'review', 'new', 'york', 'time', 'dubbed', 'sequel', 'unabashedly', 'trivial'])],
      dtype=object)

X.shape, Y.shape

#### Step 5. - Tokenization with Keras

`Keras-Tokenizer` allows to vectorize a text corpus, by turning each text into either a sequence of integers (each integer being the index of a token in a dictionary) or into a vector.

This means that the data is already cleaned, lemmatized etc.

In [107]:
from keras.preprocessing.text import Tokenizer

def get_sequence_of_tokens(input_sentences):
    tokenizer = Tokenizer()
    
    tokenizer.fit_on_texts(input_sentences)   
    sentences_to_sequences = tokenizer.texts_to_sequences(input_sentences)
    
    return sentences_to_sequences

In [108]:
X = get_sequence_of_tokens(X)
X[:5]

[[93,
  173,
  512,
  971,
  53,
  1002,
  88,
  4666,
  1173,
  93,
  147,
  193,
  2205,
  1318,
  1230,
  1294,
  32,
  6,
  873,
  93,
  5823,
  333,
  107,
  3,
  12,
  141,
  828,
  1198,
  2290,
  579,
  160,
  1188,
  48,
  1253,
  2802,
  1589,
  7,
  64,
  759,
  9,
  699,
  11583,
  8,
  664,
  1147,
  210,
  410,
  1827,
  971,
  773,
  53,
  149,
  1174,
  1865,
  1133,
  19,
  336,
  28,
  1546,
  855,
  1294,
  1019,
  291,
  9,
  18579,
  64,
  2343,
  147,
  366,
  193,
  2205,
  7926,
  5195,
  3967,
  531,
  29,
  8,
  5196,
  21,
  1295,
  88,
  450,
  6,
  102,
  814,
  71,
  4117,
  469,
  4294,
  93,
  210,
  50,
  5824,
  64,
  1935,
  77,
  7927,
  93,
  5,
  4118,
  1173,
  93,
  46,
  154,
  106,
  421,
  8,
  2737,
  30,
  151,
  1090,
  1173,
  3968,
  6,
  469,
  4294,
  2119,
  5,
  2437,
  13891,
  149,
  778,
  2888,
  1269,
  614,
  18580,
  754,
  8,
  149,
  1174,
  1865,
  19,
  1754,
  171,
  378,
  1905,
  709,
  54,
  983,
  2168,
  971,
  4906,
  778,
  257,
  8,
  292,
  64,
  612,
  5,
  412,
  1056,
  151,
  788,
  625,
  7928,
  28,
  29,
  1295,
  1677,
  443,
  79,
  990,
  34,
  3,
  12,
  21,
  2120,
  18581,
  45,
  1020,
  11584,
  26,
  45,
  94,
  196,
  29,
  45,
  122,
  248,
  1905,
  709,
  350,
  4907,
  122,
  612,
  1078,
  21,
  1565,
  983,
  4906,
  289,
  735,
  1134,
  410,
  983,
  402,
  149,
  983,
  1,
  1216,
  11585,
  983,
  1296,
  23,
  18582,
  18583,
  1652,
  336,
  822,
  3041,
  598,
  410,
  52,
  587,
  296,
  2662,
  210,
  77,
  539,
  171,
  1,
  18584,
  18585,
  673,
  1678,
  232,
  93,
  3144,
  93,
  72,
  32,
  6,
  315,
  410,
  50,
  873,
  13892,
  93,
  971,
  171,
  149,
  8,
  378,
  778,
  10,
  30,
  3350,
  832,
  381,
  387,
  1025,
  173,
  571,
  18586,
  120,
  6,
  315,
  50,
  873,
  972,
  778,
  714,
  384,
  60,
  1866,
  1010,
  800,
  92,
  240,
  233,
  428,
  71,
  384,
  1867,
  735,
  1198,
  2206,
  1547,
  800,
  3433,
  2889,
  2888,
  778,
  983,
  143,
  397,
  1456,
  50,
  77,
  539,
  100,
  512,
  2,
  11585,
  921,
  96,
  2487,
  18587,
  2121,
  5493,
  113,
  767,
  435,
  444,
  1,
  2,
  11585,
  2390,
  160,
  949,
  38,
  50,
  500,
  41,
  7,
  428,
  64,
  6230,
  2343,
  35,
  9924,
  18588,
  710,
  1173,
  93,
  46,
  6727,
  35,
  7,
  714,
  5494,
  6728,
  3825,
  1049,
  93,
  644,
  7926,
  2207,
  1330,
  571,
  3682,
  531,
  9,
  795,
  644,
  48,
  18589,
  18590,
  5494,
  93,
  18591,
  5196,
  7926,
  452,
  2205,
  9,
  8,
  279,
  1865,
  93,
  19,
  18592,
  101,
  644,
  2738,
  7926,
  48,
  18593,
  1868,
  2207,
  4908,
  2803,
  387,
  2242,
  46,
  4117,
  8794,
  93,
  1653,
  427,
  290,
  116,
  239,
  2243,
  353,
  6729,
  3561,
  685,
  2532,
  5196,
  243,
  18594,
  171,
  6,
  71,
  1828,
  210,
  671,
  247,
  70,
  291,
  2804,
  1270,
  1147,
  8795,
  1521,
  6,
  873,
  50,
  50],
 [1490,
  632,
  299,
  381,
  1382,
  129,
  1490,
  632,
  5197,
  1522,
  658,
  6231,
  3683,
  18595,
  779,
  288,
  31,
  1973,
  145,
  2960,
  26,
  4667,
  334,
  5495,
  31,
  425,
  3826,
  780,
  833,
  3434,
  2,
  1522,
  1331,
  1490,
  117,
  80,
  19,
  3827,
  626,
  1679,
  164,
  692,
  2739,
  1135,
  23,
  98,
  2,
  5495,
  113,
  2533,
  1091,
  779,
  8796,
  1679,
  426,
  780,
  833,
  4465,
  8797,
  1175,
  2291,
  1829,
  1457,
  1079,
  8798,
  457,
  2,
  5495,
  411,
  1367,
  2,
  1522,
  22,
  1973,
  145,
  1548,
  2,
  5495,
  3435,
  411,
  143,
  2,
  1522,
  22,
  1973,
  1401,
  1490,
  381,
  2,
  8797,
  6232,
  3435,
  2960,
  2,
  5495,
  760,
  2438,
  1974,
  1973,
  1401,
  2122,
  129,
  1490,
  116,
  320,
  890,
  1680,
  1217,
  780,
  833,
  494,
  7929,
  2,
  1217,
  760,
  779,
  9925,
  262,
  429,
  11586,
  394,
  1490,
  1973,
  261,
  300,
  2,
  1522,
  139,
  736,
  329,
  7250,
  18596,
  632,
  3828,
  9926,
  5198,
  843,
  2090,
  937,
  2,
  1522,
  5199,
  1490,
  3042,
  4119,
  13893,
  1133,
  520,
  637,
  6233,
  590,
  2244,
  1490,
  117,
  5825,
  95,
  474,
  870,
  1133,
  2534,
  9927,
  23,
  1491,
  3827,
  781,
  248,
  7251,
  307,
  41,
  651,
  248,
  128,
  2,
  1522,
  429,
  103,
  13,
  18,
  34,
  216,
  1091,
  129,
  6234,
  205,
  2663,
  1723,
  1402,
  4295,
  2208,
  6235],
 [2805,
  6236,
  3436,
  5496,
  1176,
  15,
  4668,
  255,
  376,
  856,
  3436,
  169,
  126,
  430,
  470,
  874,
  1218,
  2169,
  938,
  3041,
  1368,
  619,
  693,
  73,
  32,
  241,
  74,
  43,
  575,
  2805,
  632,
  324,
  54,
  26,
  45,
  203,
  1176,
  612,
  73,
  190,
  4119,
  856,
  3436,
  437,
  1975,
  728,
  6730,
  30,
  74,
  30,
  154,
  154,
  5496,
  3436,
  4466,
  2091,
  117,
  768,
  2091,
  107,
  42,
  390,
  103,
  177,
  47,
  34,
  1176,
  4669,
  958,
  431,
  337,
  430,
  338,
  140,
  1231,
  1906,
  3436,
  5497,
  142,
  13894,
  11,
  142,
  403,
  338,
  54,
  524,
  4,
  202,
  280,
  39,
  437,
  1549,
  599,
  10,
  22,
  659,
  470,
  338,
  619,
  370,
  1,
  54,
  67,
  76,
  4,
  2961,
  1119,
  546,
  39,
  901,
  22,
  83,
  430,
  470,
  1332,
  438,
  469,
  2664,
  265,
  1079,
  2589,
  140,
  1976,
  2488,
  114,
  5496,
  991,
  1492,
  13895,
  1319],
 [9928,
  205,
  1026,
  1550,
  258,
  973,
  163,
  1026,
  211,
  205,
  1755,
  18597,
  2344,
  470,
  175,
  9928,
  1550,
  258,
  180,
  755,
  11,
  7930,
  2123,
  1106,
  660,
  18598,
  13896,
  9928,
  439,
  7931,
  68,
  755,
  592,
  163,
  4909,
  422,
  2665,
  11587,
  463,
  1136,
  595,
  3562,
  506,
  2209,
  674,
  211,
  246,
  620,
  1724,
  53,
  7252,
  449,
  71,
  705,
  13897,
  13896,
  163,
  1106,
  11588,
  211,
  339,
  4910,
  11589,
  1106,
  347,
  506,
  470,
  9,
  175,
  7253,
  55,
  2803,
  686,
  5200,
  139,
  5498,
  933,
  27,
  973,
  139,
  205,
  540,
  241,
  11,
  627,
  163,
  633,
  8799,
  246,
  18599,
  1907,
  1219,
  9929,
  604,
  1136,
  3969,
  3825,
  3238,
  59,
  3829,
  3684,
  205,
  3437,
  258,
  9930,
  11590,
  2806,
  506,
  9931,
  3043,
  2807,
  1724,
  1977,
  211,
  973,
  13898,
  2489,
  2666,
  711,
  6237,
  241,
  711,
  3239,
  1297,
  5826,
  915,
  96,
  3240,
  2124,
  1219,
  4296,
  113,
  1936,
  470,
  18,
  163,
  3437,
  258,
  271,
  297,
  3044,
  1724,
  241,
  706,
  8800,
  11591,
  4911,
  3241,
  7932,
  4120,
  922,
  4121,
  2962,
  620,
  782,
  7252,
  18600,
  8801,
  782,
  3044,
  367,
  3145,
  782,
  4909,
  9929,
  782,
  1907,
  1176,
  782,
  3563,
  4122,
  782,
  8802,
  3829,
  782,
  3825,
  3238,
  3351,
  782,
  5499,
  9928,
  782,
  1026,
  13899,
  782,
  9932,
  2963,
  782,
  4120,
  1776,
  782,
  18601,
  1383,
  782,
  2210,
  6731,
  782,
  3685,
  9933,
  11592,
  13900,
  782,
  11593,
  7254,
  782,
  367,
  422,
  449,
  782,
  13897,
  1297,
  782,
  2666,
  2964,
  782,
  11594,
  711,
  3239,
  782,
  2489,
  13901,
  3145,
  782,
  3043,
  2807,
  5826,
  782,
  711,
  6237,
  13902,
  782,
  11595,
  3969,
  782,
  604,
  5500,
  782,
  6238,
  11596,
  782,
  18602,
  11590,
  782,
  3684,
  9931,
  782,
  2806,
  3146,
  782,
  13903,
  4296,
  782,
  2124,
  9934,
  782,
  13904,
  3686,
  7253,
  782,
  18603,
  197,
  286,
  633,
  8799,
  246],
 [3242,
  4467,
  4670,
  531,
  182,
  3242,
  4467,
  857,
  13905,
  1777,
  1242,
  1092,
  7255,
  5501,
  6239,
  4671,
  665,
  858,
  1320,
  27,
  9,
  8,
  531,
  182,
  508,
  184,
  13906,
  8803,
  633,
  1162,
  51,
  141,
  769,
  1352,
  1777,
  1590,
  3352,
  783,
  242,
  2211,
  47,
  305,
  13907,
  403,
  151,
  2665,
  13,
  42,
  27,
  9,
  214,
  6240,
  180,
  110,
  13908,
  13909,
  6241,
  11597,
  68,
  240,
  13910,
  13911,
  8804,
  86,
  107,
  3830,
  13912,
  7933,
  2125,
  1242,
  1830,
  3243,
  2965,
  744,
  566,
  11598,
  3242,
  4467,
  531,
  182,
  2740,
  363,
  11599,
  666,
  259,
  527,
  8,
  47,
  20,
  156,
  1831,
  4912,
  1777,
  5201,
  439,
  518,
  4672,
  3242,
  6242,
  184,
  13913,
  9935,
  666,
  633,
  13914,
  13915,
  484,
  3244,
  3353,
  20,
  1242,
  2014,
  9936,
  6732,
  1978,
  3242,
  6242,
  1778,
  4468,
  105,
  1566,
  9937,
  9937,
  263,
  1243,
  131,
  1777,
  11600,
  7255,
  6239,
  665,
  1613,
  9938,
  856,
  5202,
  6733,
  11601,
  5203,
  13916,
  1064,
  13917,
  1654,
  1705,
  57,
  1908,
  354,
  1,
  3147,
  13918,
  232,
  1937,
  3045,
  5827,
  95,
  8,
  784,
  249,
  13919,
  11602,
  13920,
  377,
  1403,
  1523,
  12,
  7256,
  13921,
  6243,
  377,
  8805,
  939,
  7,
  572,
  12,
  2590,
  1777,
  13922,
  11603]]

#### 6.Padding the Sequences

Now that we have generated a data-set which contains sequence of tokens, it is possible that different sequences have different lengths. Before starting training the model, we need to pad the sequences and make their lengths equal. We can use pad_sequence function of Keras for this purpose.

In [124]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

def generate_padded_sequences(input_sequences, max_sequence = None):
    if max_sequence is None:
        max_sequence = max([len(x) for x in input_sequences])
    input_sequences = pad_sequences(input_sequences, maxlen = max_sequence, padding = "post", truncating = "post")
    
    return input_sequences, max_sequence

In [125]:
X, max_sequence = generate_padded_sequences(X, 100)
X[:5]

array([[   93,   173,   512,   971,    53,  1002,    88,  4666,  1173,
           93,   147,   193,  2205,  1318,  1230,  1294,    32,     6,
          873,    93,  5823,   333,   107,     3,    12,   141,   828,
         1198,  2290,   579,   160,  1188,    48,  1253,  2802,  1589,
            7,    64,   759,     9,   699, 11583,     8,   664,  1147,
          210,   410,  1827,   971,   773,    53,   149,  1174,  1865,
         1133,    19,   336,    28,  1546,   855,  1294,  1019,   291,
            9, 18579,    64,  2343,   147,   366,   193,  2205,  7926,
         5195,  3967,   531,    29,     8,  5196,    21,  1295,    88,
          450,     6,   102,   814,    71,  4117,   469,  4294,    93,
          210,    50,  5824,    64,  1935,    77,  7927,    93,     5,
         4118],
       [ 1490,   632,   299,   381,  1382,   129,  1490,   632,  5197,
         1522,   658,  6231,  3683, 18595,   779,   288,    31,  1973,
          145,  2960,    26,  4667,   334,  5495,    31,   425,  3826,
          780,   833,  3434,     2,  1522,  1331,  1490,   117,    80,
           19,  3827,   626,  1679,   164,   692,  2739,  1135,    23,
           98,     2,  5495,   113,  2533,  1091,   779,  8796,  1679,
          426,   780,   833,  4465,  8797,  1175,  2291,  1829,  1457,
         1079,  8798,   457,     2,  5495,   411,  1367,     2,  1522,
           22,  1973,   145,  1548,     2,  5495,  3435,   411,   143,
            2,  1522,    22,  1973,  1401,  1490,   381,     2,  8797,
         6232,  3435,  2960,     2,  5495,   760,  2438,  1974,  1973,
         1401],
       [ 2805,  6236,  3436,  5496,  1176,    15,  4668,   255,   376,
          856,  3436,   169,   126,   430,   470,   874,  1218,  2169,
          938,  3041,  1368,   619,   693,    73,    32,   241,    74,
           43,   575,  2805,   632,   324,    54,    26,    45,   203,
         1176,   612,    73,   190,  4119,   856,  3436,   437,  1975,
          728,  6730,    30,    74,    30,   154,   154,  5496,  3436,
         4466,  2091,   117,   768,  2091,   107,    42,   390,   103,
          177,    47,    34,  1176,  4669,   958,   431,   337,   430,
          338,   140,  1231,  1906,  3436,  5497,   142, 13894,    11,
          142,   403,   338,    54,   524,     4,   202,   280,    39,
          437,  1549,   599,    10,    22,   659,   470,   338,   619,
          370],
       [ 9928,   205,  1026,  1550,   258,   973,   163,  1026,   211,
          205,  1755, 18597,  2344,   470,   175,  9928,  1550,   258,
          180,   755,    11,  7930,  2123,  1106,   660, 18598, 13896,
         9928,   439,  7931,    68,   755,   592,   163,  4909,   422,
         2665, 11587,   463,  1136,   595,  3562,   506,  2209,   674,
          211,   246,   620,  1724,    53,  7252,   449,    71,   705,
        13897, 13896,   163,  1106, 11588,   211,   339,  4910, 11589,
         1106,   347,   506,   470,     9,   175,  7253,    55,  2803,
          686,  5200,   139,  5498,   933,    27,   973,   139,   205,
          540,   241,    11,   627,   163,   633,  8799,   246, 18599,
         1907,  1219,  9929,   604,  1136,  3969,  3825,  3238,    59,
         3829],
       [ 3242,  4467,  4670,   531,   182,  3242,  4467,   857, 13905,
         1777,  1242,  1092,  7255,  5501,  6239,  4671,   665,   858,
         1320,    27,     9,     8,   531,   182,   508,   184, 13906,
         8803,   633,  1162,    51,   141,   769,  1352,  1777,  1590,
         3352,   783,   242,  2211,    47,   305, 13907,   403,   151,
         2665,    13,    42,    27,     9,   214,  6240,   180,   110,
        13908, 13909,  6241, 11597,    68,   240, 13910, 13911,  8804,
           86,   107,  3830, 13912,  7933,  2125,  1242,  1830,  3243,
         2965,   744,   566, 11598,  3242,  4467,   531,   182,  2740,
          363, 11599,   666,   259,   527,     8,    47,    20,   156,
         1831,  4912,  1777,  5201,   439,   518,  4672,  3242,  6242,
          184]], dtype=int32)

#### 7. Splitting the data

In [126]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

In [127]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(1780, 100) (1780, 1)
(445, 100) (445, 1)

### 6.  LSTMs for Text Generation

Unlike Feed-forward neural networks in which activation outputs are propagated only in one direction, the activation outputs from neurons propagate in both directions (from inputs to outputs and from outputs to inputs) in Recurrent Neural Networks. This creates loops in the neural network architecture which acts as a ‘memory state’ of the neurons. This state allows the neurons an ability to remember what have been learned so far.

The memory state in RNNs gives an advantage over traditional neural networks but a problem called Vanishing Gradient is associated with them. In this problem, while learning with a large number of layers, it becomes really hard for the network to learn and tune the parameters of the earlier layers. To address this problem, A new type of RNNs called LSTMs (Long Short Term Memory) Models have been developed.

LSTMs have an additional state called ‘cell state’ through which the network makes adjustments in the information flow. The advantage of this state is that the model can remember or forget the leanings more selectively. To learn more about LSTMs, here is a great post. Lets architecture a LSTM model in our code. I have added total three layers in the model.

1. Input Layer : Takes the sequence of words as input
2. LSTM Layer : Computes the output using LSTM units. I have added 100 units in the layer, but this number can be fine tuned later.
3. Dropout Layer : A regularisation layer which randomly turns-off the activations of some neurons in the LSTM layer. It helps in preventing over fitting. (Optional Layer)
4. Output Layer : Computes the probability of the best possible next word as output

We will run this model for total 100 epoochs but it can be experimented further.

In [128]:
from keras.layers import Embedding, SpatialDropout1D, LSTM, Dense, Dropout
from keras.models import Sequential
from keras.callbacks import EarlyStopping

def create_model(total_words, max_sequence):
    """
    Generates a sparse matrix from ratings dataframe.
    
    Args:
        df: pandas dataframe
    
    Returns:
        X: sparse matrix
        movie_mapper: dict that maps movie id's to movie indices
    """
    
    model = Sequential()
    
    # Add Input Embedding, Hidden and Ouput Layer
    model.add(Embedding(input_dim = total_words, output_dim = 100, input_length = max_sequence))
    model.add(SpatialDropout1D(0.4))
    model.add(LSTM(100, dropout=0.4))
    model.add(Dense(units = 5, activation='softmax'))

    model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
   
    return model

In [129]:
model = create_model(total_words, max_sequence)
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_3 (Embedding)     (None, 100, 100)          4377100

 spatial_dropout1d_3 (Spatia  (None, 100, 100)         0
 lDropout1D)

 lstm_3 (LSTM)               (None, 100)               80400

 dense_3 (Dense)             (None, 5)                 505

=================================================================
Total params: 4,458,005
Trainable params: 4,458,005
Non-trainable params: 0
_________________________________________________________________

Let's train our model now

In [130]:
from tensorflow.keras.utils import to_categorical

y_train = to_categorical(y_train, 5)
y_test = to_categorical(y_test, 5)

In [131]:
X_train.shape

(1780, 100)

In [132]:
model.fit(X_train, y_train, epochs = 10, batch_size = 32, validation_split = 0.2, verbose = 2) #, callbacks = [EarlyStopping(monitor='val_loss', patience=7, min_delta=0.0001)]

Epoch 1/10
45/45 - 3s - loss: 1.4731 - accuracy: 0.3553 - val_loss: 1.2730 - val_accuracy: 0.4944 - 3s/epoch - 63ms/step
Epoch 2/10
45/45 - 0s - loss: 1.1193 - accuracy: 0.4754 - val_loss: 1.0195 - val_accuracy: 0.4775 - 469ms/epoch - 10ms/step
Epoch 3/10
45/45 - 0s - loss: 0.8622 - accuracy: 0.5625 - val_loss: 0.8162 - val_accuracy: 0.6208 - 482ms/epoch - 11ms/step
Epoch 4/10
45/45 - 0s - loss: 0.5143 - accuracy: 0.8104 - val_loss: 0.5628 - val_accuracy: 0.8343 - 458ms/epoch - 10ms/step
Epoch 5/10
45/45 - 0s - loss: 0.2982 - accuracy: 0.9052 - val_loss: 0.7900 - val_accuracy: 0.6742 - 480ms/epoch - 11ms/step
Epoch 6/10
45/45 - 0s - loss: 0.4930 - accuracy: 0.8511 - val_loss: 0.6640 - val_accuracy: 0.8090 - 449ms/epoch - 10ms/step
Epoch 7/10
45/45 - 0s - loss: 0.1645 - accuracy: 0.9712 - val_loss: 0.2083 - val_accuracy: 0.9466 - 477ms/epoch - 11ms/step
Epoch 8/10
45/45 - 0s - loss: 0.0545 - accuracy: 0.9916 - val_loss: 0.1899 - val_accuracy: 0.9522 - 454ms/epoch - 10ms/step
Epoch 9/10
45/45 - 0s - loss: 0.0224 - accuracy: 0.9965 - val_loss: 0.1916 - val_accuracy: 0.9494 - 466ms/epoch - 10ms/step
Epoch 10/10
45/45 - 0s - loss: 0.0129 - accuracy: 0.9993 - val_loss: 0.2110 - val_accuracy: 0.9579 - 475ms/epoch - 11ms/step

In [133]:
scores = model.evaluate(X_test, y_test, verbose=0)
print("Accuracy: %.2f%%" % (scores[1]*100))

Accuracy: 93.93%

In [123]:
model.save('model')

WARNING:absl:Found untraced functions such as lstm_cell_2_layer_call_fn, lstm_cell_2_layer_call_and_return_conditional_losses while saving (showing 2 of 2). These functions will not be directly callable after loading.
WARNING:absl:<keras.layers.recurrent.LSTMCell object at 0x7fc8c4e874d0> has the same name 'LSTMCell' as a built-in Keras object. Consider renaming <class 'keras.layers.recurrent.LSTMCell'> to avoid naming conflicts when loading with `tf.keras.models.load_model`. If renaming is not possible, pass the object in the `custom_objects` parameter of the load function.